.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  width: 90%;
}

.pokemonContainer {
  position: relative;
  min-width: 250px;
  width: 400px;
  height: 300px;
  text-align: center;
  background-color: rgb(29, 29, 29);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.pokemonContainer img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.secondContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(29, 29, 29);
  max-width: 600px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.nameButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.nameButton h3 {
  text-transform: capitalize;
  font-size: 30px;
  letter-spacing: 2px;
}

.nameButton button {
  padding: 10px;
  background-color: transparent;
  border: 2px solid #327fd8;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #fff;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.nameButton button:hover {
  background-color: #327fd8;
}

.spritesContainer p {
  font-size: 21px;
  margin-top: 20px;
  margin-left: 20px;
}

.spritesContainer div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.spritesContainer img {
  width: 140px;
}

@media screen and (max-width: 770px) {
  .cardsContainer {
    flex-direction: column;
  }
  .pokemonContainer {
    width: 100%;
  }
}
@media screen and (max-width: 470px) {
  .cardsContainer {
    width: 100%;
  }
  .nameButton {
    flex-direction: column;
    gap: 20px;
  }
}
